/* =====================
   VARIÁVEIS
   ===================== */
:root {
    --color-primary: #0057b8;
    --color-primary-dark: #003f8a;
    --color-primary-light: #b3cdf0;
    --color-section-bg: #e8f1fb;
    --color-bg: #f9f9f9;
    --color-text: #333333;
    --color-btn-reset: #cccccc;
    --color-btn-reset-dark: #aaaaaa;
    --color-links-hover: #00572b;
    --color-white: #ffffff;
    --color-input-bg: #ffffff;
    --color-input-text: #333333;
    --color-border: #cccccc;
    --color-table-border: #333333;
    --color-header-text: #ffffff;
}

.dark-theme {
    --color-bg: #121212;
    --color-section-bg: #1e1e1e;
    --color-text: #f5f5f5;
    --color-border: #555555;
    --color-input-bg: #2a2a2a;
    --color-input-text: #ffffff;
    --color-table-border: #555555;
    --color-primary: #3b82f6;
    --color-primary-dark: #2563eb;
    --color-primary-light: #60a5fa;
    --color-header-text: #ffffff;
}

/* =====================
   GLOBAL
   ===================== */

html {
    scroll-behavior: smooth;
}   

body {
    margin: 0;
    padding: 0;
    font-family: "DM Serif Text", serif;
    background-color: var(--color-bg);
    color: var(--color-text);
}

/* =====================
   LAYOUT
   ===================== */
header {
    padding: 20px;
    text-align: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 1000;

    backdrop-filter: blur(10px);
    background: rgba(0, 87, 184, 0.85);
}

header h1 {
    animation: fadeDown 1s ease;
    margin: 0;
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }
    
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

header nav {
    margin-top: 15px;
}

header nav a {
    color: var(--color-white);
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}
header nav a:hover {
    color: var(--color-primary-light);
    text-decoration: underline;
}

main {
    max-width: 800px;
    margin: 120px auto 0;
    padding: 20px;
}

footer {
    background-color: var(--color-primary);
    color: var(--color-white);
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

header h1,
header nav a {
    color: var(--color-header-text)
}

.dark-theme header {
    background: rgba(30, 30, 30, 0.85);
}
/* =====================
   SEÇÕES
   ===================== */
section {
    background-color: var(--color-section-bg);
    border: 1px solid var(--color-primary-light);
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
    
    transition: 
        transform 0.3s ease,
        background-color 0.4s ease,
        color 0.4s ease,
        border-color 0.4s ease,
        box-shadow 0.4s ease;
        
    scroll-margin-top: 130px;
}

section:hover {
    transform: translateY(-3px);
}

.dark-theme section {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.35);
}

.hidden {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
}

/* =====================
   TÍTULOS
   ===================== */
h1 {
    color: var(--color-text);
}

h2 {
    color: var(--color-text);
}

/* =====================
   TABELA
   ===================== */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid var(--color-table-border);
    padding: 10px 20px;
    text-align: left;
}

th {
    background-color: var(--color-primary-light);
}

td {
    background-color: var(--color-section-bg);
}

label {
    color: var(--color-text);
}

/* =====================
   FORMULÁRIO          
   ===================== */

input,
 textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--color-border);
    border-radius: 6px;
    font-size: 16px;
    font-family: "DM Serif Text", serif;
    box-sizing: border-box;

    background-color: var(--color-input-bg);
    color: var(--color-input-text);
} 

input:focus,
textarea:focus {
    outline: none;

    border-color: var(--color-primary);

    box-shadow: 0 0 0 3px rgba(59,130,246,0.2);
}

input::placeholder,
textarea::placeholder {
    color: var(--color-border);
}

textarea{
    resize: vertical;
    min-height: 150px;
}
    
button {
    padding: 10px 25px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"] {
    background-color: var(--color-primary);
    color: var(--color-white);
}

button[type="submit"]:hover {
    background-color: var(--color-primary-dark);
}

button[type="reset"] {
    background-color: var(--color-btn-reset);
    color: var(--color-text);
} 

button[type="reset"]:hover {
    background-color: var(--color-btn-reset-dark);
}

input[type="checkbox"] {
    width: auto;
    margin-bottom: 1px;
    accent-color: var(--color-primary);
}

.checkbox-area {
    margin-bottom: 15px;
}

.buttons-area {
    display: flex;
    gap: 10px;
}

/* =====================
   LINKS          
   ===================== */
#links a {
    display: inline-block;
    background-color: var(--color-primary) ;
    color: var(--color-white);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 6px;
    margin: 5px;
    transition: background-color 0.3s ease;
}

#links a:hover {
    background-color: var(--color-links-hover);
}

/* =====================
   IMAGEM
   ===================== */
   img {
    display: block;
    margin: 20px auto;
    border-radius: 12px;
    border: 3px solid var(--color-primary-light);
    max-width: 100%;
   }

   /* =====================
        RESPONSIVIDADE
      ===================== */
   @media (max-width: 600px) {

    header { 
        padding: 15px 10px;
    }

    header nav a {
        display: block;
        margin: 5px 0px;
    }

    main {
        padding: 10px;
    }

    table {
        font-size: 14px;
        display: block;
        overflow-x: auto;
    }

    th, td {
        padding: 8px 10px;
    }

    button {
        display: block;
        width: 100%;
    }

    .buttons-area {
        flex-direction: column;
    }

    .buttons-area button {
        width: 100%;
    }

}

    @media (min-width: 601px) {
    button {
        display: inline-block;
        width: auto;
    }

    .buttons-area {
        flex-direction: row;
    }
}

.show {
    opacity: 1;
    transform: translateY(0);
}

#theme-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 8px 12px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: var(--color-section-bg);
    color: var(--color-text);

transition:
        background-color 0.4s ease,
        color 0.4s ease,
        transform 0.3s ease;
}

#theme-toggle:hover {
    transform: rotate(15deg) scale(1.1);
}